<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Dakkhinee</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Dakkhinee</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>10</integer>
    <key>copyright</key>
    <string>Copyright 2024 The Dakkhinee Project Authors (https://github.com/mitradranirban/font-dakkhinee)</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>capHeight</key>
    <integer>800</integer>
    <key>xHeight</key>
    <integer>508</integer>
    <key>ascender</key>
    <integer>800</integer>
    <key>descender</key>
    <integer>-200</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>openTypeHeadCreated</key>
    <string>2021/11/29 19:13:09</string>
    <key>openTypeHheaAscender</key>
    <integer>1200</integer>
    <key>openTypeHheaDescender</key>
    <integer>-300</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Dr Anirban Mitra</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://github.com/mitradranirban/fonts-dakkhinee</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://fonts.atipra.in/</string>
    <key>openTypeNameLicense</key>
    <string>Copyright 2024 The Dakkhinee Font Project Authors (github.com/mitradranirban/font-dakkhinee)
This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is available with a FAQ at:http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.010</string>
    <key>openTypeNameDescription</key>
    <string>This Bengali or Bangla font is designed like South Indian Scripts</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Dakkhinee</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameSampleText</key>
    <string>Pack My Box With Five Dozen Liquor Jugs</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>anir</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1200</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-300</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1295</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>672</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>15</integer>
      <integer>16</integer>
      <integer>31</integer>
      <integer>33</integer>
      <integer>45</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer> 
    </array>
    <key>postscriptFontName</key>
    <string>Dakkhinee-Regular</string>
    <key>postscriptFullName</key>
    <string>Dakkhinee Regular</string>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>postscriptUnderlineThickness</key>
    <integer>73</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-366</integer>
    <key>guidelines</key>
    <array>
      <dict>
        <key>x</key>
        <real>-3.99994</real>
        <key>y</key>
        <real>300</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>-303</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>1251.4</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>506.6</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>800</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>56.7374</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>818.737</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>740.737</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>74.1744</real>
        <key>y</key>
        <real>300</real>
        <key>angle</key>
        <real>270</real>
      </dict>
    </array>
  </dict>
</plist>
