<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>danda</key>
    <string>danda.glif</string>
    <key>doubledanda</key>
    <string>doubledanda.glif</string>
    <key>u0981</key>
    <string>u0981.glif</string>
    <key>u0982</key>
    <string>u0982.glif</string>
    <key>u0983</key>
    <string>u0983.glif</string>
    <key>u0985</key>
    <string>u0985.glif</string>
    <key>u0986</key>
    <string>u0986.glif</string>
    <key>u0987</key>
    <string>u0987.glif</string>
    <key>u0988</key>
    <string>u0988.glif</string>
    <key>u0989</key>
    <string>u0989.glif</string>
    <key>u098a</key>
    <string>u098a.glif</string>
    <key>u098b</key>
    <string>u098b.glif</string>
    <key>u098c</key>
    <string>u098c.glif</string>
    <key>u098f</key>
    <string>u098f.glif</string>
    <key>u0990</key>
    <string>u0990.glif</string>
    <key>u0993</key>
    <string>u0993.glif</string>
    <key>u0994</key>
    <string>u0994.glif</string>
    <key>u0995</key>
    <string>u0995.glif</string>
    <key>u0996</key>
    <string>u0996.glif</string>
    <key>u0997</key>
    <string>u0997.glif</string>
    <key>u0998</key>
    <string>u0998.glif</string>
    <key>u0999</key>
    <string>u0999.glif</string>
    <key>u099a</key>
    <string>u099a.glif</string>
    <key>u099b</key>
    <string>u099b.glif</string>
    <key>u099c</key>
    <string>u099c.glif</string>
    <key>u099d</key>
    <string>u099d.glif</string>
    <key>u099e</key>
    <string>u099e.glif</string>
    <key>u099f</key>
    <string>u099f.glif</string>
    <key>u09a0</key>
    <string>u09a0.glif</string>
    <key>u09a1</key>
    <string>u09a1.glif</string>
    <key>u09a2</key>
    <string>u09a2.glif</string>
    <key>u09a3</key>
    <string>u09a3.glif</string>
    <key>u09a4</key>
    <string>u09a4.glif</string>
    <key>u09a5</key>
    <string>u09a5.glif</string>
    <key>u09a6</key>
    <string>u09a6.glif</string>
    <key>u09a7</key>
    <string>u09a7.glif</string>
    <key>u09a8</key>
    <string>u09a8.glif</string>
    <key>u09aa</key>
    <string>u09aa.glif</string>
    <key>u09ab</key>
    <string>u09ab.glif</string>
    <key>u09ac</key>
    <string>u09ac.glif</string>
    <key>u09ad</key>
    <string>u09ad.glif</string>
    <key>u09ae</key>
    <string>u09ae.glif</string>
    <key>u09af</key>
    <string>u09af.glif</string>
    <key>u09b0</key>
    <string>u09b0.glif</string>
    <key>u09b2</key>
    <string>u09b2.glif</string>
    <key>u09b6</key>
    <string>u09b6.glif</string>
    <key>u09b7</key>
    <string>u09b7.glif</string>
    <key>u09b8</key>
    <string>u09b8.glif</string>
    <key>u09b9</key>
    <string>u09b9.glif</string>
    <key>u09bc</key>
    <string>u09bc.glif</string>
    <key>avagraha</key>
    <string>avagraha.glif</string>
    <key>u09be</key>
    <string>u09be.glif</string>
    <key>u09bf</key>
    <string>u09bf.glif</string>
    <key>u09c0</key>
    <string>u09c0.glif</string>
    <key>u09c1</key>
    <string>u09c1.glif</string>
    <key>u09c2</key>
    <string>u09c2.glif</string>
    <key>u09c3</key>
    <string>u09c3.glif</string>
    <key>u09c4</key>
    <string>u09c4.glif</string>
    <key>u09c7</key>
    <string>u09c7.glif</string>
    <key>u09c8</key>
    <string>u09c8.glif</string>
    <key>u09cb</key>
    <string>u09cb.glif</string>
    <key>u09cc</key>
    <string>u09cc.glif</string>
    <key>u09cd</key>
    <string>u09cd.glif</string>
    <key>u09ce</key>
    <string>u09ce.glif</string>
    <key>u09d7</key>
    <string>u09d7.glif</string>
    <key>u09dc</key>
    <string>u09dc.glif</string>
    <key>u09dd</key>
    <string>u09dd.glif</string>
    <key>u09df</key>
    <string>u09df.glif</string>
    <key>u09e0</key>
    <string>u09e0.glif</string>
    <key>u09e1</key>
    <string>u09e1.glif</string>
    <key>u09e2</key>
    <string>u09e2.glif</string>
    <key>u09e3</key>
    <string>u09e3.glif</string>
    <key>u09e6</key>
    <string>u09e6.glif</string>
    <key>u09e7</key>
    <string>u09e7.glif</string>
    <key>u09e8</key>
    <string>u09e8.glif</string>
    <key>u09e9</key>
    <string>u09e9.glif</string>
    <key>u09ea</key>
    <string>u09ea.glif</string>
    <key>u09eb</key>
    <string>u09eb.glif</string>
    <key>u09ec</key>
    <string>u09ec.glif</string>
    <key>u09ed</key>
    <string>u09ed.glif</string>
    <key>u09ee</key>
    <string>u09ee.glif</string>
    <key>u09ef</key>
    <string>u09ef.glif</string>
    <key>u09f0</key>
    <string>u09f0.glif</string>
    <key>u09f1</key>
    <string>u09f1.glif</string>
    <key>u09f2</key>
    <string>u09f2.glif</string>
    <key>u09f3</key>
    <string>u09f3.glif</string>
    <key>u09f4</key>
    <string>u09f4.glif</string>
    <key>u09f5</key>
    <string>u09f5.glif</string>
    <key>u09f6</key>
    <string>u09f6.glif</string>
    <key>u09f7</key>
    <string>u09f7.glif</string>
    <key>u09f8</key>
    <string>u09f8.glif</string>
    <key>u09f9</key>
    <string>u09f9.glif</string>
    <key>u09fa</key>
    <string>u09fa.glif</string>
    <key>zwnj</key>
    <string>zwnj.glif</string>
    <key>zwj</key>
    <string>zwj.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>u0981.salt</key>
    <string>u0981.salt.glif</string>
    <key>u099c_u09cd_u099e.akhn</key>
    <string>u099c_u09cd_u099e.akhn.glif</string>
    <key>u0995_u09cd_u09b7.akhn</key>
    <string>u0995_u09cd_u09b7.akhn.glif</string>
    <key>u09b9_u09cd_u09ae.cjct</key>
    <string>u09b9_u09cd_u09ae.cjct.glif</string>
    <key>u09a4_u09cd_u09a4.cjct</key>
    <string>u09a4_u09cd_u09a4.cjct.glif</string>
    <key>u0995_u09cd.haln</key>
    <string>u0995_u09cd.haln.glif</string>
    <key>u0996_u09cd.hln</key>
    <string>u0996_u09cd.hln.glif</string>
    <key>u0996_u09cd.haln</key>
    <string>u0996_u09cd.haln.glif</string>
    <key>u0998_u09cd.haln</key>
    <string>u0998_u09cd.haln.glif</string>
    <key>u0999_u09cd.haln</key>
    <string>u0999_u09cd.haln.glif</string>
    <key>u099a_u09cd.haln</key>
    <string>u099a_u09cd.haln.glif</string>
    <key>u099b_u09cd.haln</key>
    <string>u099b_u09cd.haln.glif</string>
    <key>u099c_u09cd.haln</key>
    <string>u099c_u09cd.haln.glif</string>
    <key>u099d_u09cd.haln</key>
    <string>u099d_u09cd.haln.glif</string>
    <key>u099e_u09cd.haln</key>
    <string>u099e_u09cd.haln.glif</string>
    <key>u099f_u09cd.haln</key>
    <string>u099f_u09cd.haln.glif</string>
    <key>u09a0_u09cd.haln</key>
    <string>u09a0_u09cd.haln.glif</string>
    <key>u09a1_u09cd.haln</key>
    <string>u09a1_u09cd.haln.glif</string>
    <key>u09a2_u09cd.haln</key>
    <string>u09a2_u09cd.haln.glif</string>
    <key>u09a3_u09cd.haln</key>
    <string>u09a3_u09cd.haln.glif</string>
    <key>u09a4_u09cd.haln</key>
    <string>u09a4_u09cd.haln.glif</string>
    <key>u09a5_u09cd.haln</key>
    <string>u09a5_u09cd.haln.glif</string>
    <key>u09a6_u09cd.haln</key>
    <string>u09a6_u09cd.haln.glif</string>
    <key>u09a7_u09cd.haln</key>
    <string>u09a7_u09cd.haln.glif</string>
    <key>u09a8_u09cd.haln</key>
    <string>u09a8_u09cd.haln.glif</string>
    <key>u09aa_u09cd.haln</key>
    <string>u09aa_u09cd.haln.glif</string>
    <key>u09ab_u09cd.haln</key>
    <string>u09ab_u09cd.haln.glif</string>
    <key>u09ac_u09cd.haln</key>
    <string>u09ac_u09cd.haln.glif</string>
    <key>u09ad_u09cd.haln</key>
    <string>u09ad_u09cd.haln.glif</string>
    <key>u09ae_u09cd.haln</key>
    <string>u09ae_u09cd.haln.glif</string>
    <key>u09af_u09cd.haln</key>
    <string>u09af_u09cd.haln.glif</string>
    <key>u09b0_u09cd.haln</key>
    <string>u09b0_u09cd.haln.glif</string>
    <key>u09b2_u09cd.haln</key>
    <string>u09b2_u09cd.haln.glif</string>
    <key>u09b6_u09cd.haln</key>
    <string>u09b6_u09cd.haln.glif</string>
    <key>u09b7_u09cd.haln</key>
    <string>u09b7_u09cd.haln.glif</string>
    <key>u09b8_u09cd.haln</key>
    <string>u09b8_u09cd.haln.glif</string>
    <key>u09b9_u09cd.haln</key>
    <string>u09b9_u09cd.haln.glif</string>
    <key>u09dc_u09cd.haln</key>
    <string>u09dc_u09cd.haln.glif</string>
    <key>u09dd_u09cd.haln</key>
    <string>u09dd_u09cd.haln.glif</string>
    <key>glyph219</key>
    <string>glyph219.glif</string>
    <key>u099c_u09cd_u099e_u09cd.haln</key>
    <string>u099c_u09cd_u099e_u09cd.haln.glif</string>
    <key>kassa_u09cd.half</key>
    <string>kassa_u09cd.half.glif</string>
    <key>u09b0_u09cd.rphf</key>
    <string>u09b0_u09cd.rphf.glif</string>
    <key>u09af_u09cd.pstf</key>
    <string>u09af_u09cd.pstf.glif</string>
    <key>u09b0_u09cd.blwf</key>
    <string>u09b0_u09cd.blwf.glif</string>
    <key>u09ac_u09cd.blwf</key>
    <string>u09ac_u09cd.blwf.glif</string>
    <key>u0995_u09b0_u09cd.blwf.vatu</key>
    <string>u0995_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u0996_u09b0_u09cd.blwf.vatu</key>
    <string>u0996_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u0997_u09b0_u09cd.blwf.vatu</key>
    <string>u0997_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u0998_u09b0_u09cd.blwf.vatu</key>
    <string>u0998_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u0999_u09b0_u09cd.blwf.vatu</key>
    <string>u0999_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u099a_u09b0_u09cd.blwf.vatu</key>
    <string>u099a_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u099b_u09b0_u09cd.blwf.vatu</key>
    <string>u099b_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u099c_u09b0_u09cd.blwf.vatu</key>
    <string>u099c_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u099d_u09b0_u09cd.blwf.vatu</key>
    <string>u099d_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u099e_u09b0_u09cd.blwf.vatu</key>
    <string>u099e_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u099f_u09b0_u09cd.blwf.vatu</key>
    <string>u099f_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09a0_u09b0_u09cd.blwf.vatu</key>
    <string>u09a0_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09a1_u09b0_u09cd.blwf.vatu</key>
    <string>u09a1_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09a2_u09b0_u09cd.blwf.vatu</key>
    <string>u09a2_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09a3_u09b0_u09cd.blwf.vatu</key>
    <string>u09a3_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09a4_u09b0_u09cd.blwf.vatu</key>
    <string>u09a4_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09a5_u09b0_u09cd.blwf.vatu</key>
    <string>u09a5_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09a6_u09b0_u09cd.blwf.vatu</key>
    <string>u09a6_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09a7_u09b0_u09cd.blwf.vatu</key>
    <string>u09a7_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09a8_u09b0_u09cd.blwf.vatu</key>
    <string>u09a8_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09aa_u09b0_u09cd.blwf.vatu</key>
    <string>u09aa_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09ab_u09b0_u09cd.blwf.vatu</key>
    <string>u09ab_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09ac_u09b0_u09cd.blwf.vatu</key>
    <string>u09ac_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09ad_u09b0_u09cd.blwf.vatu</key>
    <string>u09ad_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09ae_u09b0_u09cd.blwf.vatu</key>
    <string>u09ae_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09af_u09b0_u09cd.blwf.vatu</key>
    <string>u09af_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09b0_u09b0_u09cd.blwf.vatu</key>
    <string>u09b0_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09b2_u09b0_u09cd.blwf.vatu</key>
    <string>u09b2_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09b6_u09b0_u09cd.blwf.vatu</key>
    <string>u09b6_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09b7_u09b0_u09cd.blwf.vatu</key>
    <string>u09b7_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09b8_u09b0_u09cd.blwf.vatu</key>
    <string>u09b8_u09b0_u09cd.blwf.vatu.glif</string>
    <key>u09b9_u09b0_u09cd.blwf.vatu</key>
    <string>u09b9_u09b0_u09cd.blwf.vatu.glif</string>
    <key>janya_u09b0_u09cd.blwf.vatu</key>
    <string>janya_u09b0_u09cd.blwf.vatu.glif</string>
    <key>bn_ka_ssa.akhn_bn_raphala.vatu</key>
    <string>bn_ka_ssa.akhn_bn_raphala.vatu.glif</string>
    <key>u09a4_u09cd.half_u09a4_u09b0_u09cd.blwf.vatu.pres</key>
    <string>u09a4_u09cd.half_u09a4_u09b0_u09cd.blwf.vatu.pres.glif</string>
    <key>u0995_u09cd_u0995.cjct</key>
    <string>u0995_u09cd_u0995.cjct.glif</string>
    <key>u0995_u09cd_u099f.cjct</key>
    <string>u0995_u09cd_u099f.cjct.glif</string>
    <key>u0995_u09cd_u09a4.cjct</key>
    <string>u0995_u09cd_u09a4.cjct.glif</string>
    <key>u0995_u09cd_u09a8.cjct</key>
    <string>u0995_u09cd_u09a8.cjct.glif</string>
    <key>u0995_u09cd_u09ae.cjct</key>
    <string>u0995_u09cd_u09ae.cjct.glif</string>
    <key>u0995_u09cd_u09b2.cjct</key>
    <string>u0995_u09cd_u09b2.cjct.glif</string>
    <key>u0995_u09cd_u09b8.cjct</key>
    <string>u0995_u09cd_u09b8.cjct.glif</string>
    <key>bn_ka_ssa.akhn_u09cd_u09a3.cjct</key>
    <string>bn_ka_ssa.akhn_u09cd_u09a3.cjct.glif</string>
    <key>bn_ka_ssa.akhn_u09cd_u09ae.cjct</key>
    <string>bn_ka_ssa.akhn_u09cd_u09ae.cjct.glif</string>
    <key>u0997_u09cd_u0997.cjct</key>
    <string>u0997_u09cd_u0997.cjct.glif</string>
    <key>u0997_u09cd_u09a4.cjct</key>
    <string>u0997_u09cd_u09a4.cjct.glif</string>
    <key>u0997_u09cd_u09a6.cjct</key>
    <string>u0997_u09cd_u09a6.cjct.glif</string>
    <key>u0997_u09cd_u09a7.cjct</key>
    <string>u0997_u09cd_u09a7.cjct.glif</string>
    <key>u0997_u09cd_u09a8.cjct</key>
    <string>u0997_u09cd_u09a8.cjct.glif</string>
    <key>u0997_u09cd_u09ae.cjct</key>
    <string>u0997_u09cd_u09ae.cjct.glif</string>
    <key>u0997_u09cd_u09b2.cjct</key>
    <string>u0997_u09cd_u09b2.cjct.glif</string>
    <key>u0999_u09cd_u0995.cjct</key>
    <string>u0999_u09cd_u0995.cjct.glif</string>
    <key>u0999_u09cd_u0996.cjct</key>
    <string>u0999_u09cd_u0996.cjct.glif</string>
    <key>u0999_u09cd_u0997.cjct</key>
    <string>u0999_u09cd_u0997.cjct.glif</string>
    <key>u099a_u09cd_u099b.cjct</key>
    <string>u099a_u09cd_u099b.cjct.glif</string>
    <key>u099a_u09cd_u099e.cjct</key>
    <string>u099a_u09cd_u099e.cjct.glif</string>
    <key>u099c_u09cd_u099c.cjct</key>
    <string>u099c_u09cd_u099c.cjct.glif</string>
    <key>u099c_u09cd_u099d.cjct</key>
    <string>u099c_u09cd_u099d.cjct.glif</string>
    <key>u099e_u09cd_u099a.cjct</key>
    <string>u099e_u09cd_u099a.cjct.glif</string>
    <key>u099e_u09cd_u099b.cjct</key>
    <string>u099e_u09cd_u099b.cjct.glif</string>
    <key>u099e_u09cd_u099c.cjct</key>
    <string>u099e_u09cd_u099c.cjct.glif</string>
    <key>u099e_u09cd_u099d.pres</key>
    <string>u099e_u09cd_u099d.pres.glif</string>
    <key>u099f_u09cd_u099f.cjct</key>
    <string>u099f_u09cd_u099f.cjct.glif</string>
    <key>u09a1_u09cd_u09a1.cjct</key>
    <string>u09a1_u09cd_u09a1.cjct.glif</string>
    <key>u09a3_u09cd_u099f.cjct</key>
    <string>u09a3_u09cd_u099f.cjct.glif</string>
    <key>u09a3_u09cd_u09a0.cjct</key>
    <string>u09a3_u09cd_u09a0.cjct.glif</string>
    <key>u09a3_u09cd_u09a1.cjct</key>
    <string>u09a3_u09cd_u09a1.cjct.glif</string>
    <key>u09a4_u09cd_u09a5.cjct</key>
    <string>u09a4_u09cd_u09a5.cjct.glif</string>
    <key>u09a4_u09cd_u09a8.cjct</key>
    <string>u09a4_u09cd_u09a8.cjct.glif</string>
    <key>u09a4_u09cd_u09ae.cjct</key>
    <string>u09a4_u09cd_u09ae.cjct.glif</string>
    <key>u09a6_u09cd_u09a6.cjct</key>
    <string>u09a6_u09cd_u09a6.cjct.glif</string>
    <key>u09a6_u09cd_u09a7.cjct</key>
    <string>u09a6_u09cd_u09a7.cjct.glif</string>
    <key>u09a6_u09cd_u09ae.cjct</key>
    <string>u09a6_u09cd_u09ae.cjct.glif</string>
    <key>u0998_u09cd_u09a8.cjct</key>
    <string>u0998_u09cd_u09a8.cjct.glif</string>
    <key>u09a6_u09cd_u09ad.cjct</key>
    <string>u09a6_u09cd_u09ad.cjct.glif</string>
    <key>u0995_u09cd_u09ac.cjct</key>
    <string>u0995_u09cd_u09ac.cjct.glif</string>
    <key>u0997_u09cd_u09ac.cjct</key>
    <string>u0997_u09cd_u09ac.cjct.glif</string>
    <key>u099b_u09cd_u09ac.cjct</key>
    <string>u099b_u09cd_u09ac.cjct.glif</string>
    <key>u099c_u09cd_u09ac.cjct</key>
    <string>u099c_u09cd_u09ac.cjct.glif</string>
    <key>u09a3_u09cd_u09ac.cjct</key>
    <string>u09a3_u09cd_u09ac.cjct.glif</string>
    <key>u09a4_u09cd_u09ac.cjct</key>
    <string>u09a4_u09cd_u09ac.cjct.glif</string>
    <key>u09a6_u09cd_u09ac.cjct</key>
    <string>u09a6_u09cd_u09ac.cjct.glif</string>
    <key>u09a7_u09cd_u09ac.cjct</key>
    <string>u09a7_u09cd_u09ac.cjct.glif</string>
    <key>u09a8_u09cd_u09ac.cjct</key>
    <string>u09a8_u09cd_u09ac.cjct.glif</string>
    <key>u09aa_u09cd_u09ac.cjct</key>
    <string>u09aa_u09cd_u09ac.cjct.glif</string>
    <key>u09ac_u09cd_u09ac.cjct</key>
    <string>u09ac_u09cd_u09ac.cjct.glif</string>
    <key>u09b6_u09cd_u09ac.cjct</key>
    <string>u09b6_u09cd_u09ac.cjct.glif</string>
    <key>u09b8_u09cd_u09ac.cjct</key>
    <string>u09b8_u09cd_u09ac.cjct.glif</string>
    <key>u09a6_u09cd_u09a8.cjct</key>
    <string>u09a6_u09cd_u09a8.cjct.glif</string>
    <key>u09a7_u09cd_u09a8.cjct</key>
    <string>u09a7_u09cd_u09a8.cjct.glif</string>
    <key>u09a8_u09cd._u09a4.cjct</key>
    <string>u09a8_u09cd._u09a4.cjct.glif</string>
    <key>u09a8_u09cd_u09a4_u09b0.vatu</key>
    <string>u09a8_u09cd_u09a4_u09b0.vatu.glif</string>
    <key>u09a8_u09cd_u09a4_u09c1.blws</key>
    <string>u09a8_u09cd_u09a4_u09c1.blws.glif</string>
    <key>u09a8_u09cd_u09a5.cjct</key>
    <string>u09a8_u09cd_u09a5.cjct.glif</string>
    <key>u09a8_u09cd_u09a6.cjct</key>
    <string>u09a8_u09cd_u09a6.cjct.glif</string>
    <key>u09a8_u09cd_u09a7.cjct</key>
    <string>u09a8_u09cd_u09a7.cjct.glif</string>
    <key>u09a8_u09cd_u09a8.cjct</key>
    <string>u09a8_u09cd_u09a8.cjct.glif</string>
    <key>u09a8_u09cd_u09ae.cjct</key>
    <string>u09a8_u09cd_u09ae.cjct.glif</string>
    <key>u09a8_u09cd_u09b8.cjct</key>
    <string>u09a8_u09cd_u09b8.cjct.glif</string>
    <key>u09aa_u09cd_u09a4.cjct</key>
    <string>u09aa_u09cd_u09a4.cjct.glif</string>
    <key>u09aa_u09cd_u09aa.cjct</key>
    <string>u09aa_u09cd_u09aa.cjct.glif</string>
    <key>u09aa_u09cd_u09ae.cjct</key>
    <string>u09aa_u09cd_u09ae.cjct.glif</string>
    <key>u09aa_u09cd_u09a8.cjct</key>
    <string>u09aa_u09cd_u09a8.cjct.glif</string>
    <key>u09aa_u09cd_u09b2.cjct</key>
    <string>u09aa_u09cd_u09b2.cjct.glif</string>
    <key>u09ab_u09cd_u09b2.cjct</key>
    <string>u09ab_u09cd_u09b2.cjct.glif</string>
    <key>u09ae_u09cd_u09aa.cjct</key>
    <string>u09ae_u09cd_u09aa.cjct.glif</string>
    <key>u09ae_u09cd_u09ab.cjct</key>
    <string>u09ae_u09cd_u09ab.cjct.glif</string>
    <key>u09ae_u09cd_u09ad.cjct</key>
    <string>u09ae_u09cd_u09ad.cjct.glif</string>
    <key>u09ae_u09cd_u09a8.cjct</key>
    <string>u09ae_u09cd_u09a8.cjct.glif</string>
    <key>u09ae_u09cd_u09ae.cjct</key>
    <string>u09ae_u09cd_u09ae.cjct.glif</string>
    <key>u09ae_u09cd_u09b2.cjct</key>
    <string>u09ae_u09cd_u09b2.cjct.glif</string>
    <key>u09ae_u09cd_u09ad.09b0_u09cd</key>
    <string>u09ae_u09cd_u09ad.09b0_u09cd.glif</string>
    <key>u09b2_u09cd_u0995.cjct</key>
    <string>u09b2_u09cd_u0995.cjct.glif</string>
    <key>u09b2_u09cd._u0997.cjct</key>
    <string>u09b2_u09cd._u0997.cjct.glif</string>
    <key>u09b2_u09cd_u09ac.cjct</key>
    <string>u09b2_u09cd_u09ac.cjct.glif</string>
    <key>u09b2_u09cd_u09aa.cjct</key>
    <string>u09b2_u09cd_u09aa.cjct.glif</string>
    <key>u09b2_u09cd_u09ae.cjct</key>
    <string>u09b2_u09cd_u09ae.cjct.glif</string>
    <key>u09b2_u09cd_u09b2.cjct</key>
    <string>u09b2_u09cd_u09b2.cjct.glif</string>
    <key>u09ac_u09cd_u099c.cjct</key>
    <string>u09ac_u09cd_u099c.cjct.glif</string>
    <key>u09ac_u09cd_u09a6.cjct</key>
    <string>u09ac_u09cd_u09a6.cjct.glif</string>
    <key>u09ac_u09cd_u09a7.cjct</key>
    <string>u09ac_u09cd_u09a7.cjct.glif</string>
    <key>u09ac_u09cd_u09a8.cjct</key>
    <string>u09ac_u09cd_u09a8.cjct.glif</string>
    <key>u09ac_u09cd_u09b2.cjct</key>
    <string>u09ac_u09cd_u09b2.cjct.glif</string>
    <key>u09b6_u09cd_u09b2.cjct</key>
    <string>u09b6_u09cd_u09b2.cjct.glif</string>
    <key>u09b7_u09cd_u0995.cjct</key>
    <string>u09b7_u09cd_u0995.cjct.glif</string>
    <key>u09b7_u09cd_u099f.cjct</key>
    <string>u09b7_u09cd_u099f.cjct.glif</string>
    <key>u09b7_u09cd_u09a0.cjct</key>
    <string>u09b7_u09cd_u09a0.cjct.glif</string>
    <key>u09b7_u09cd_u09a3.cjct</key>
    <string>u09b7_u09cd_u09a3.cjct.glif</string>
    <key>u09b7_u09cd._u09aa.cjct</key>
    <string>u09b7_u09cd._u09aa.cjct.glif</string>
    <key>u09b8_u09cd_u0995.cjct</key>
    <string>u09b8_u09cd_u0995.cjct.glif</string>
    <key>u09b8_u09cd_u09a4.cjct</key>
    <string>u09b8_u09cd_u09a4.cjct.glif</string>
    <key>u09b8_u09cd_u09a5.cjct</key>
    <string>u09b8_u09cd_u09a5.cjct.glif</string>
    <key>u09b8_u09cd_u09a8.cjct</key>
    <string>u09b8_u09cd_u09a8.cjct.glif</string>
    <key>u09b8_u09cd_u09ae.cjct</key>
    <string>u09b8_u09cd_u09ae.cjct.glif</string>
    <key>u09b8_u09cd_u09b2.cjct</key>
    <string>u09b8_u09cd_u09b2.cjct.glif</string>
    <key>u09b8_u09cd_u09ab.cjct</key>
    <string>u09b8_u09cd_u09ab.cjct.glif</string>
    <key>u09b8_u09cd_u099f.cjct</key>
    <string>u09b8_u09cd_u099f.cjct.glif</string>
    <key>u09b8_u09cd.u099f_u09b0.vatu</key>
    <string>u09b8_u09cd.u099f_u09b0.vatu.glif</string>
    <key>u09b8_u09cd_u09aa.cjct</key>
    <string>u09b8_u09cd_u09aa.cjct.glif</string>
    <key>u09b8_u09cd_u09a4_u09b0.vatu</key>
    <string>u09b8_u09cd_u09a4_u09b0.vatu.glif</string>
    <key>u09b8_u09cd_u0995_u09b0.vatu</key>
    <string>u09b8_u09cd_u0995_u09b0.vatu.glif</string>
    <key>u09b9_u09cd_u09a8.cjct</key>
    <string>u09b9_u09cd_u09a8.cjct.glif</string>
    <key>u099c_u09cd_u099c_u09ac</key>
    <string>u099c_u09cd_u099c_u09ac.glif</string>
    <key>u0995_u09cd_u099f_u09b0.vatu</key>
    <string>u0995_u09cd_u099f_u09b0.vatu.glif</string>
    <key>u09a8_u09cd_u09a6_u09b0.vatu</key>
    <string>u09a8_u09cd_u09a6_u09b0.vatu.glif</string>
    <key>u09a8_u09cd_u09a7_u09b0.vatu</key>
    <string>u09a8_u09cd_u09a7_u09b0.vatu.glif</string>
    <key>u09aa_u09cd_u09a4_u09b0.vatu</key>
    <string>u09aa_u09cd_u09a4_u09b0.vatu.glif</string>
    <key>u09ae_u09cd_u09aa_u09b0.vatu</key>
    <string>u09ae_u09cd_u09aa_u09b0.vatu.glif</string>
    <key>u09b7_u09cd_u099f_u09b0.vatu</key>
    <string>u09b7_u09cd_u099f_u09b0.vatu.glif</string>
    <key>u09b8_u09cd_u09aa_u09b0.vatu</key>
    <string>u09b8_u09cd_u09aa_u09b0.vatu.glif</string>
    <key>u09a4_u09cd_u09a4_u09ac.cjct</key>
    <string>u09a4_u09cd_u09a4_u09ac.cjct.glif</string>
    <key>u09a8_u09cd_u09a6_u09ac.cjct</key>
    <string>u09a8_u09cd_u09a6_u09ac.cjct.glif</string>
    <key>u09a8_u09cd_u099f.cjct</key>
    <string>u09a8_u09cd_u099f.cjct.glif</string>
    <key>u09a8_u09cd_u09a0.cjct</key>
    <string>u09a8_u09cd_u09a0.cjct.glif</string>
    <key>u09a8_u09cd_u09a1.cjct</key>
    <string>u09a8_u09cd_u09a1.cjct.glif</string>
    <key>u09a8_u09cd_u099a.cjct</key>
    <string>u09a8_u09cd_u099a.cjct.glif</string>
    <key>u09a3_u09cd_u09a1_u09b0.vatu</key>
    <string>u09a3_u09cd_u09a1_u09b0.vatu.glif</string>
    <key>u09a8_u09cd_u099f_u09b0.vatu</key>
    <string>u09a8_u09cd_u099f_u09b0.vatu.glif</string>
    <key>u09a8_u09cd_u09a0_u09b0.vatu</key>
    <string>u09a8_u09cd_u09a0_u09b0.vatu.glif</string>
    <key>u09a8_u09cd_u09a1_u09b0.cjct</key>
    <string>u09a8_u09cd_u09a1_u09b0.cjct.glif</string>
    <key>u09b8_u09cd_u0996.cjct</key>
    <string>u09b8_u09cd_u0996.cjct.glif</string>
    <key>u09b6_u09cd_u099a.cjct</key>
    <string>u09b6_u09cd_u099a.cjct.glif</string>
    <key>u09a8_u09cd_u0995.cjct</key>
    <string>u09a8_u09cd_u0995.cjct.glif</string>
    <key>u09a8_u09cd_u0995_u09b0.cjct</key>
    <string>u09a8_u09cd_u0995_u09b0.cjct.glif</string>
    <key>u09b6_u09cd_u099b.cjct</key>
    <string>u09b6_u09cd_u099b.cjct.glif</string>
    <key>u09a3_u09cd_u09ae.cjct</key>
    <string>u09a3_u09cd_u09ae.cjct.glif</string>
    <key>u09b6_u09cd_u09ae.cjct</key>
    <string>u09b6_u09cd_u09ae.cjct.glif</string>
    <key>u09a6_u09cd_u09a6_u09ac.cjct</key>
    <string>u09a6_u09cd_u09a6_u09ac.cjct.glif</string>
    <key>u09b7_u09cd_u09ae.cjct</key>
    <string>u09b7_u09cd_u09ae.cjct.glif</string>
    <key>u09ac_u09cd_u09a6_u09b0.vatu</key>
    <string>u09ac_u09cd_u09a6_u09b0.vatu.glif</string>
    <key>u099a_u09cd_u099a.cjct</key>
    <string>u099a_u09cd_u099a.cjct.glif</string>
    <key>u099a_u09cd_u099b_u09ac.cjct</key>
    <string>u099a_u09cd_u099b_u09ac.cjct.glif</string>
    <key>u0999_u09cd_u09ae.cjct</key>
    <string>u0999_u09cd_u09ae.cjct.glif</string>
    <key>u09a8_u09cd_u09a4_u09ac.blws</key>
    <string>u09a8_u09cd_u09a4_u09ac.blws.glif</string>
    <key>u09aa_u09cd_u099f.cjct</key>
    <string>u09aa_u09cd_u099f.cjct.glif</string>
    <key>u09b6_u09cd_u09a8.cjct</key>
    <string>u09b6_u09cd_u09a8.cjct.glif</string>
    <key>u09aa_u09cd_u09b8.cjct</key>
    <string>u09aa_u09cd_u09b8.cjct.glif</string>
    <key>u09b9_u09cd_u09b2.cjct</key>
    <string>u09b9_u09cd_u09b2.cjct.glif</string>
    <key>u09b2_u09cd_u09a1.cjct</key>
    <string>u09b2_u09cd_u09a1.cjct.glif</string>
    <key>u09b7_u09cd_u09ab.cjct</key>
    <string>u09b7_u09cd_u09ab.cjct.glif</string>
    <key>u09dc_u09cd_u0997.cjct</key>
    <string>u09dc_u09cd_u0997.cjct.glif</string>
    <key>u09ae_u09cd_u09a4_u09b0.vatu</key>
    <string>u09ae_u09cd_u09a4_u09b0.vatu.glif</string>
    <key>u09a6_u09cd_u09ad_u09b0.vatu</key>
    <string>u09a6_u09cd_u09ad_u09b0.vatu.glif</string>
    <key>u09ac_u09cd_u09ad.cjct</key>
    <string>u09ac_u09cd_u09ad.cjct.glif</string>
    <key>u09b9_u09cd_u09ac.cjct</key>
    <string>u09b9_u09cd_u09ac.cjct.glif</string>
    <key>u09b8_u09cd_u09a4_u09c1.blws</key>
    <string>u09b8_u09cd_u09a4_u09c1.blws.glif</string>
    <key>u09b9_u09cd_u09a3.cjct</key>
    <string>u09b9_u09cd_u09a3.cjct.glif</string>
    <key>u0987_u0981.abvs</key>
    <string>u0987_u0981.abvs.glif</string>
    <key>u0988_u0981.abvs</key>
    <string>u0988_u0981.abvs.glif</string>
    <key>u0999_u0981.abvs</key>
    <string>u0999_u0981.abvs.glif</string>
    <key>u098a_u0981.abvs</key>
    <string>u098a_u0981.abvs.glif</string>
    <key>u099f_u0981.abvs</key>
    <string>u099f_u0981.abvs.glif</string>
    <key>u09a0_u0981.abvs</key>
    <string>u09a0_u0981.abvs.glif</string>
    <key>u09be_u0981.abvs</key>
    <string>u09be_u0981.abvs.glif</string>
    <key>u09be_u09b0_u09cd.rphf.abvs</key>
    <string>u09be_u09b0_u09cd.rphf.abvs.glif</string>
    <key>u09bf_u0981.abvs</key>
    <string>u09bf_u0981.abvs.glif</string>
    <key>u09c0_u0981.abvs</key>
    <string>u09c0_u0981.abvs.glif</string>
    <key>u09c0_u09b0_u09cd.rphf.abvs</key>
    <string>u09c0_u09b0_u09cd.rphf.abvs.glif</string>
    <key>u09d7_u0981.abvs</key>
    <string>u09d7_u0981.abvs.glif</string>
    <key>u0997_u09c1.blws</key>
    <string>u0997_u09c1.blws.glif</string>
    <key>u09b6_u09c1.blws</key>
    <string>u09b6_u09c1.blws.glif</string>
    <key>u09b0_u09c1.blws</key>
    <string>u09b0_u09c1.blws.glif</string>
    <key>u09b0_u09c2.blws</key>
    <string>u09b0_u09c2.blws.glif</string>
    <key>u09a4_u09b0_u09cd.blwf.vatu_u09c1.blws</key>
    <string>u09a4_u09b0_u09cd.blwf.vatu_u09c1.blws.glif</string>
    <key>u09a4_u09b0_u09cd.blwf.vatu_u09c2.blws</key>
    <string>u09a4_u09b0_u09cd.blwf.vatu_u09c2.blws.glif</string>
    <key>u09a6_u09b0_u09cd.blwf.vatu_u09c1.blws</key>
    <string>u09a6_u09b0_u09cd.blwf.vatu_u09c1.blws.glif</string>
    <key>u09a6_u09b0_u09cd.blwf.vatu_u09c2.blws</key>
    <string>u09a6_u09b0_u09cd.blwf.vatu_u09c2.blws.glif</string>
    <key>u09ad_u09b0_u09cd.blwf.vatu_u09c1.blws</key>
    <string>u09ad_u09b0_u09cd.blwf.vatu_u09c1.blws.glif</string>
    <key>u09ad_u09b0_u09cd.blwf.vatu_u09c2.blws</key>
    <string>u09ad_u09b0_u09cd.blwf.vatu_u09c2.blws.glif</string>
    <key>u09b6_u09b0_u09cd.blwf.vatu_u09c1.blws</key>
    <string>u09b6_u09b0_u09cd.blwf.vatu_u09c1.blws.glif</string>
    <key>u09b6_u09b0_u09cd.blwf.vatu_u09c2.blws</key>
    <string>u09b6_u09b0_u09cd.blwf.vatu_u09c2.blws.glif</string>
    <key>u09b9_u09c1.blws</key>
    <string>u09b9_u09c1.blws.glif</string>
    <key>u09b9_u09c3.blws</key>
    <string>u09b9_u09c3.blws.glif</string>
    <key>u09d7_u09b0_u09cd.rphf.abvs</key>
    <string>u09d7_u09b0_u09cd.rphf.abvs.glif</string>
    <key>u0997_u09b0_u09cd.blwf.vatu_u09c1.blws</key>
    <string>u0997_u09b0_u09cd.blwf.vatu_u09c1.blws.glif</string>
    <key>u0997_u09b0_u09cd.blwf.vatu_u09c2.blws</key>
    <string>u0997_u09b0_u09cd.blwf.vatu_u09c2.blws.glif</string>
    <key>u09a7_u09b0_u09cd.blwf.vatu_u09c1.blws</key>
    <string>u09a7_u09b0_u09cd.blwf.vatu_u09c1.blws.glif</string>
    <key>u09a7_u09b0_u09cd.blwf.vatu_u09c2.blws</key>
    <string>u09a7_u09b0_u09cd.blwf.vatu_u09c2.blws.glif</string>
    <key>u09aa_u09b0_u09cd.blwf.vatu_u09c1.blws</key>
    <string>u09aa_u09b0_u09cd.blwf.vatu_u09c1.blws.glif</string>
    <key>u09aa_u09b0_u09cd.blwf.vatu_u09c2.blws</key>
    <string>u09aa_u09b0_u09cd.blwf.vatu_u09c2.blws.glif</string>
    <key>u09a5_u09b0_u09cd.blwf.vatu_u09c1.blws</key>
    <string>u09a5_u09b0_u09cd.blwf.vatu_u09c1.blws.glif</string>
    <key>u09a5_u09b0_u09cd.blwf.vatu_u09c2.blws</key>
    <string>u09a5_u09b0_u09cd.blwf.vatu_u09c2.blws.glif</string>
    <key>u09ac_u09b0_u09cd.blwf.vatu_u09c1.blws</key>
    <string>u09ac_u09b0_u09cd.blwf.vatu_u09c1.blws.glif</string>
    <key>u09ac_u09b0_u09cd.blwf.vatu_u09c2.blws</key>
    <string>u09ac_u09b0_u09cd.blwf.vatu_u09c2.blws.glif</string>
    <key>u09b0_u09cd_u0997_u09c1.blws</key>
    <string>u09b0_u09cd_u0997_u09c1.blws.glif</string>
    <key>u0999_u09cd_u0998.cjct</key>
    <string>u0999_u09cd_u0998.cjct.glif</string>
    <key>u09a6_u09cd_u09a7_u09ac.cjct</key>
    <string>u09a6_u09cd_u09a7_u09ac.cjct.glif</string>
    <key>u09b2_u09cd_u09ab.cjct</key>
    <string>u09b2_u09cd_u09ab.cjct.glif</string>
    <key>u09b7_u09cd_u0996.cjct</key>
    <string>u09b7_u09cd_u0996.cjct.glif</string>
    <key>u09b2_u09cd_u099f.cjct</key>
    <string>u09b2_u09cd_u099f.cjct.glif</string>
    <key>u09ae_u09cd_u09ac.cjct</key>
    <string>u09ae_u09cd_u09ac.cjct.glif</string>
    <key>u09a3_u09cd_u09a2.cjct</key>
    <string>u09a3_u09cd_u09a2.cjct.glif</string>
    <key>glyph475</key>
    <string>glyph475.glif</string>
    <key>u099a_u09cd_u099b_u09b0.vatu</key>
    <string>u099a_u09cd_u099b_u09b0.vatu.glif</string>
    <key>u09a3_u09cd_u09a3.cjct</key>
    <string>u09a3_u09cd_u09a3.cjct.glif</string>
    <key>glyph478</key>
    <string>glyph478.glif</string>
    <key>glyph479</key>
    <string>glyph479.glif</string>
    <key>glyph480</key>
    <string>glyph480.glif</string>
    <key>glyph481</key>
    <string>glyph481.glif</string>
    <key>glyph482</key>
    <string>glyph482.glif</string>
    <key>glyph483</key>
    <string>glyph483.glif</string>
    <key>glyph484</key>
    <string>glyph484.glif</string>
    <key>glyph485</key>
    <string>glyph485.glif</string>
    <key>glyph486</key>
    <string>glyph486.glif</string>
    <key>glyph487</key>
    <string>glyph487.glif</string>
    <key>glyph488</key>
    <string>glyph488.glif</string>
    <key>glyph489</key>
    <string>glyph489.glif</string>
    <key>glyph490</key>
    <string>glyph490.glif</string>
    <key>glyph491</key>
    <string>glyph491.glif</string>
    <key>glyph492</key>
    <string>glyph492.glif</string>
    <key>glyph493</key>
    <string>glyph493.glif</string>
    <key>glyph494</key>
    <string>glyph494.glif</string>
    <key>glyph495</key>
    <string>glyph495.glif</string>
    <key>glyph496</key>
    <string>glyph496.glif</string>
    <key>glyph498</key>
    <string>glyph498.glif</string>
    <key>glyph499</key>
    <string>glyph499.glif</string>
    <key>glyph500</key>
    <string>glyph500.glif</string>
    <key>glyph501</key>
    <string>glyph501.glif</string>
    <key>u0995_alt</key>
    <string>u0995_alt.glif</string>
    <key>u0997_alt</key>
    <string>u0997_alt.glif</string>
    <key>u09a4_alt</key>
    <string>u09a4_alt.glif</string>
    <key>u09a5_alt</key>
    <string>u09a5_alt.glif</string>
    <key>u09a7_alt</key>
    <string>u09a7_alt.glif</string>
    <key>u09a8_alt</key>
    <string>u09a8_alt.glif</string>
    <key>u09aa_alt</key>
    <string>u09aa_alt.glif</string>
    <key>glyph509</key>
    <string>glyph509.glif</string>
    <key>u09ad_alt</key>
    <string>u09ad_alt.glif</string>
    <key>u09b2_alt</key>
    <string>u09b2_alt.glif</string>
    <key>u09ae_alt</key>
    <string>u09ae_alt.glif</string>
    <key>glyph513</key>
    <string>glyph513.glif</string>
    <key>glyph514</key>
    <string>glyph514.glif</string>
    <key>glyph515</key>
    <string>glyph515.glif</string>
    <key>glyph516</key>
    <string>glyph516.glif</string>
    <key>glyph517</key>
    <string>glyph517.glif</string>
    <key>glyph518</key>
    <string>glyph518.glif</string>
    <key>glyph519</key>
    <string>glyph519.glif</string>
    <key>glyph520</key>
    <string>glyph520.glif</string>
    <key>glyph521</key>
    <string>glyph521.glif</string>
    <key>glyph522</key>
    <string>glyph522.glif</string>
    <key>glyph523</key>
    <string>glyph523.glif</string>
    <key>glyph524</key>
    <string>glyph524.glif</string>
    <key>glyph525</key>
    <string>glyph525.glif</string>
    <key>glyph526</key>
    <string>glyph526.glif</string>
    <key>glyph527</key>
    <string>glyph527.glif</string>
    <key>glyph528</key>
    <string>glyph528.glif</string>
    <key>glyph529</key>
    <string>glyph529.glif</string>
    <key>glyph530</key>
    <string>glyph530.glif</string>
    <key>glyph531</key>
    <string>glyph531.glif</string>
    <key>glyph532</key>
    <string>glyph532.glif</string>
    <key>glyph533</key>
    <string>glyph533.glif</string>
    <key>glyph534</key>
    <string>glyph534.glif</string>
    <key>glyph535</key>
    <string>glyph535.glif</string>
    <key>glyph536</key>
    <string>glyph536.glif</string>
    <key>glyph537</key>
    <string>glyph537.glif</string>
    <key>glyph538</key>
    <string>glyph538.glif</string>
    <key>glyph539</key>
    <string>glyph539.glif</string>
    <key>glyph540</key>
    <string>glyph540.glif</string>
    <key>glyph541</key>
    <string>glyph541.glif</string>
    <key>glyph542</key>
    <string>glyph542.glif</string>
    <key>glyph543</key>
    <string>glyph543.glif</string>
    <key>glyph544</key>
    <string>glyph544.glif</string>
    <key>glyph545</key>
    <string>glyph545.glif</string>
    <key>Ra_yaphala</key>
    <string>R_a_yaphala.glif</string>
    <key>glyph547</key>
    <string>glyph547.glif</string>
    <key>u099e_u09cd_u099a.salt</key>
    <string>u099e_u09cd_u099a.salt.glif</string>
    <key>u09e7_slash_u09e8.afrc</key>
    <string>u09e7_slash_u09e8.afrc.glif</string>
    <key>u09e7_slash_u09e9.afrc</key>
    <string>u09e7_slash_u09e9.afrc.glif</string>
    <key>u09e7_slash_u09ea.afrc</key>
    <string>u09e7_slash_u09ea.afrc.glif</string>
    <key>u09e7_slash_u09ee.afrc</key>
    <string>u09e7_slash_u09ee.afrc.glif</string>
    <key>u09e8_slash_u09e9.afrc</key>
    <string>u09e8_slash_u09e9.afrc.glif</string>
    <key>u09e9_slash_u09ea.afrc</key>
    <string>u09e9_slash_u09ea.afrc.glif</string>
    <key>u09b7_u09cd_u0995_u09b0.vatu</key>
    <string>u09b7_u09cd_u0995_u09b0.vatu.glif</string>
    <key>u09a6_u09cd_u0997.cjct</key>
    <string>u09a6_u09cd_u0997.cjct.glif</string>
    <key>u09a6_u09cd_u0998.cjct</key>
    <string>u09a6_u09cd_u0998.cjct.glif</string>
    <key>u09c7.init</key>
    <string>u09c7.init.glif</string>
    <key>u09c8.init</key>
    <string>u09c8.init.glif</string>
    <key>u0995_u09cd.half</key>
    <string>u0995_u09cd.half.glif</string>
    <key>u0996_u09cd.half</key>
    <string>u0996_u09cd.half.glif</string>
    <key>u0997_u09cd.half</key>
    <string>u0997_u09cd.half.glif</string>
    <key>u0998_u09cd.half</key>
    <string>u0998_u09cd.half.glif</string>
    <key>u0999_u09cd.half</key>
    <string>u0999_u09cd.half.glif</string>
    <key>u099a_u09cd.half</key>
    <string>u099a_u09cd.half.glif</string>
    <key>u099b_u09cd.half</key>
    <string>u099b_u09cd.half.glif</string>
    <key>u099c_u09cd.half</key>
    <string>u099c_u09cd.half.glif</string>
    <key>u099d_u09cd.half</key>
    <string>u099d_u09cd.half.glif</string>
    <key>u099e_u09cd.half</key>
    <string>u099e_u09cd.half.glif</string>
    <key>u099f_u09cd.half</key>
    <string>u099f_u09cd.half.glif</string>
    <key>u09a0_u09cd.half</key>
    <string>u09a0_u09cd.half.glif</string>
    <key>u09a1_u09cd.half</key>
    <string>u09a1_u09cd.half.glif</string>
    <key>u09a2_u09cd.half</key>
    <string>u09a2_u09cd.half.glif</string>
    <key>u09a3_u09cd.half</key>
    <string>u09a3_u09cd.half.glif</string>
    <key>u09a4_u09cd.half</key>
    <string>u09a4_u09cd.half.glif</string>
    <key>u09a5_u09cd.half</key>
    <string>u09a5_u09cd.half.glif</string>
    <key>u09a6_u09cd.half</key>
    <string>u09a6_u09cd.half.glif</string>
    <key>u09a7_u09cd.half</key>
    <string>u09a7_u09cd.half.glif</string>
    <key>u09a8_u09cd.half</key>
    <string>u09a8_u09cd.half.glif</string>
    <key>u09aa_u09cd.half</key>
    <string>u09aa_u09cd.half.glif</string>
    <key>u09ab_u09cd.half</key>
    <string>u09ab_u09cd.half.glif</string>
    <key>u09ac_u09cd.half</key>
    <string>u09ac_u09cd.half.glif</string>
    <key>u09ad_u09cd.half</key>
    <string>u09ad_u09cd.half.glif</string>
    <key>u09ae_u09cd.half</key>
    <string>u09ae_u09cd.half.glif</string>
    <key>u09af_u09cd.half</key>
    <string>u09af_u09cd.half.glif</string>
    <key>u09b0_u09cd.half</key>
    <string>u09b0_u09cd.half.glif</string>
    <key>u09b2_u09cd.half</key>
    <string>u09b2_u09cd.half.glif</string>
    <key>u09b6_u09cd.half</key>
    <string>u09b6_u09cd.half.glif</string>
    <key>u09b7_u09cd.half</key>
    <string>u09b7_u09cd.half.glif</string>
    <key>u09b8_u09cd.half</key>
    <string>u09b8_u09cd.half.glif</string>
    <key>u09b9_u09cd.half</key>
    <string>u09b9_u09cd.half.glif</string>
    <key>u09dc_u09cd.half</key>
    <string>u09dc_u09cd.half.glif</string>
    <key>u09dd_u09cd.half</key>
    <string>u09dd_u09cd.half.glif</string>
    <key>u09df_u09cd.half</key>
    <string>u09df_u09cd.half.glif</string>
    <key>uni20B9</key>
    <string>uni20B_9.glif</string>
    <key>u09fb</key>
    <string>u09fb.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>u0995_u09cd_u09a4.salt</key>
    <string>u0995_u09cd_u09a4.salt.glif</string>
    <key>u09b9_u09cd_u09ae.salt</key>
    <string>u09b9_u09cd_u09ae.salt.glif</string>
    <key>u0999_u09cd_u0997.salt</key>
    <string>u0999_u09cd_u0997.salt.glif</string>
    <key>u0995_u09cd_u09b0.salt</key>
    <string>u0995_u09cd_u09b0.salt.glif</string>
    <key>u0999_u09cd_u0995.salt</key>
    <string>u0999_u09cd_u0995.salt.glif</string>
    <key>u09f0_u09c1.blws</key>
    <string>u09f0_u09c1.blws.glif</string>
    <key>u09f0_u09c2.blws</key>
    <string>u09f0_u09c2.blws.glif</string>
    <key>uni0980</key>
    <string>uni0980.glif</string>
    <key>uni09FC</key>
    <string>uni09F_C_.glif</string>
    <key>uni09FD</key>
    <string>uni09F_D_.glif</string>
    <key>uni09FE</key>
    <string>uni09F_E_.glif</string>
    <key>u09a4_u09b0_u09cd.vatu.salt</key>
    <string>u09a4_u09b0_u09cd.vatu.salt.glif</string>
    <key>u09b8_u09cd_u0995_u09b0.salt</key>
    <string>u09b8_u09cd_u0995_u09b0.salt.glif</string>
    <key>u09b8_u09cd_u09a4_u09b0.salt</key>
    <string>u09b8_u09cd_u09a4_u09b0.salt.glif</string>
    <key>u09bf.salt</key>
    <string>u09bf.salt.glif</string>
    <key>u09c0.salt</key>
    <string>u09c0.salt.glif</string>
    <key>u09ae_u09cd_u09a4.cjct</key>
    <string>u09ae_u09cd_u09a4.cjct.glif</string>
    <key>u09ae_u09cd_u09a6.cjct</key>
    <string>u09ae_u09cd_u09a6.cjct.glif</string>
    <key>u09ae_u09cd_u09b9.cjct</key>
    <string>u09ae_u09cd_u09b9.cjct.glif</string>
    <key>u099f_u09cd_u09ac.cjct</key>
    <string>u099f_u09cd_u09ac.cjct.glif</string>
    <key>u099f_u09cd_u09ae.cjct</key>
    <string>u099f_u09cd_u09ae.cjct.glif</string>
    <key>u09b2_u09cd_u09a4.cjct</key>
    <string>u09b2_u09cd_u09a4.cjct.glif</string>
    <key>u09b2_u09cd_u09a7.cjct</key>
    <string>u09b2_u09cd_u09a7.cjct.glif</string>
    <key>u09a7_u09cd_u09ae.cjct</key>
    <string>u09a7_u09cd_u09ae.cjct.glif</string>
    <key>u09b2_u09cd_u09ad.cjct</key>
    <string>u09b2_u09cd_u09ad.cjct.glif</string>
    <key>u09b6_u09cd_u09a4.cjct</key>
    <string>u09b6_u09cd_u09a4.cjct.glif</string>
    <key>u09b7_u09cd_u09aa_u09b0.cjct</key>
    <string>u09b7_u09cd_u09aa_u09b0.cjct.glif</string>
    <key>u09b7_u09cd_u09ac.cjct</key>
    <string>u09b7_u09cd_u09ac.cjct.glif</string>
    <key>u0999_u09cd_u0995_u09b7.cjct</key>
    <string>u0999_u09cd_u0995_u09b7.cjct.glif</string>
    <key>u09a1_u09cd_u09ae.cjct</key>
    <string>u09a1_u09cd_u09ae.cjct.glif</string>
    <key>u09a1_u09cd_09b2.cjct</key>
    <string>u09a1_u09cd_09b2.cjct.glif</string>
    <key>u09a5_u09cd_u09ac.cjct</key>
    <string>u09a5_u09cd_u09ac.cjct.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
  </dict>
</plist>
